<div id="mainContent">
    <h1>New Contact</h1>

    <div id="contactCard">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Actions Buttons</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Main Form
            </mat-card-content>

            <mat-card-actions align="end">
                <button class="actionButtons" mat-raised-button color="warn">Cancel</button>
                <button mat-raised-button color="primary">Create</button>
            </mat-card-actions>
        </mat-card>
    </div>  
</div>